

/*-----------------------------------*/
/* Coupon Styles
/*-----------------------------------*/

.single-savings .hiring, .single-savings #header, .single-savings #services, .single-savings #footer { display: none; }
.coupon { border: 2px dashed #D9D9D9; padding: 20px; margin-bottom: 25px; }
#container h2 { font-size: 34px; line-height: 34px; color: #D21848; text-transform: none; }
body { font-family: "brandon-grotesque",sans-serif; font-size: 18px; line-height: 23px; color: #0d2c6c; font-weight: 400; }

.single-promotions header, .single-promotions footer, .single-promotions #contection, .single-promotions #testimonials, .single-promotions a.callout { display: none; }

img.prints { display: block; }
a.print { display: none; }