/*
Theme Name: Holby Valve
Theme URI:http://holbyvalve.com/
Author: Graphic D-Signs	 
Author URI: http://graphid-signs.com	
Description: Website for Holby Valve.
Version: 1.0
License: GNU General Public License
License URI: license.txt
Tags: widgets, custom menus, 
*/

@import url(css/reset.css);

/*-----------------------------------*/
/* Basic Styles
/*-----------------------------------*/

html { -webkit-font-smoothing: antialiased; }
p { line-height: 22px; padding: 0 0 18px 0; }
h2 { font-family: "franklin-gothic-urw",sans-serif; font-size: 19px; color: #000; padding: 12px 0 10px 0; font-weight: 700; line-height: 20px; text-transform: uppercase; letter-spacing: 1px; }
h3 { font-size: 26px; color: #929497; padding: 12px 0 14px 0; line-height: 30px; font-weight: 300; letter-spacing: 0px; }
h3 a { font-size: 26px; color: #929497; padding: 12px 0 14px 0; line-height: 30px; font-weight: 300; letter-spacing: 0px; }
h4 { font-size: 24px; color: #750003; padding: 12px 0 14px 0; line-height: 20px; font-weight: 400; letter-spacing: 1px; }
h5 { font-size: 17px; font-weight: 700; text-transform: uppercase; letter-spacing: 1.2px; color: #000; }
h6 { font-family: mostra-nuova-alt-d; font-size: 22px; color: #236504; padding: 0px 0 10px 0; font-weight: 300; line-height: 29px; }
strong { font-weight: 700; }
a { color: #000; font-weight: bold; }
a:hover { color: #A6A8AB; }
ul {}
li {}
ol ol{margin-left:15px; list-style: lower-alpha;}
.clear { clear: both; }
.alignleft { float: left; margin: 0px 0 0 -5px; padding: 0 9px; }
.alignright { float: right; margin: 0 0 0 0; padding: 0 9px; }

body {  background: url(images/bg.jpg) no-repeat top center #fff; font-family: "franklin-gothic-urw",sans-serif; font-size: 14px; color: #58595b; font-weight: 400; line-height: 16px;}

aside#left .one_half { margin-bottom: 0;  }

/* Needed WP Styles */

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }
.blog .sticky .entry-header .entry-meta { clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }

.wp-caption { margin-top: 0.4em; background: #eee; margin-bottom: 1.625em; max-width: 96%; padding: 9px; }
	.wp-caption img { display: block; margin: 0 auto; max-width: 98%; }
	.wp-caption .wp-caption-text, .gallery-caption {  font-size: 12px; }
	.wp-caption .wp-caption-text { margin-bottom: 0.6em; padding: 10px 5px; position: relative; }

blockquote 	{ width: 320px; float: right; margin: 5px 15px;  }

/* Post author highlighting */
.commentlist > li.bypostauthor { background: #ddd; border-color: #d3d3d3; }
.commentlist > li.bypostauthor .comment-meta { color: #575757; }
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover { }

/* Tablepress */
table.tablepress tfoot th, table.tablepress thead th{background: #231F20; color: #fff}

/*-----------------------------------*/
/* Header Styles
/*-----------------------------------*/

*, *:after, *:before { box-sizing: border-box; }
.wrap:before, .wrap:after { content: " "; display: table;  }
.wrap { max-width: 1024px; margin: 0 auto; padding: 0 10px; }


a.btn {  background: none; border: 2px solid #FFF; color: #FFF; padding: 8px 25px; display: inline-block; text-align: center; text-decoration: none; text-transform: uppercase; margin-top: 20px; font-weight: 500; }
	a.btn:hover { transition: background 0.3s ease; -webkit-transition: background 0.3s ease; background: #FFF; color: #193E72;  }
.sidebar a.btn {  background: none; border: 2px solid #193E72; color: #193E72; padding: 8px 25px; display: inline-block; text-align: center; text-decoration: none; text-transform: uppercase; margin-top: 10px; font-weight: 500; }
	.sidebar a.btn:hover { transition: background 0.3s ease; -webkit-transition: background 0.3s ease; background: #193E72; color: #FFF;  }
	
.push_content {background: #FFF; transition:all 0.5s ease; opacity: 0; height: 0; overflow: hidden; -webkit-transition:all 0.5s ease; -moz-transition:all 0.6s ease; }
.push_content.active { padding: 20px 0; opacity: 1; height: auto; }
.push_content aside.one_half { float: none; width: 45%; margin: 0 2%; display: inline-block; }
.news_bar { background: #231F20; padding: 3px 0; border-bottom: 3px solid #FAFAFA; text-align: right; }
	.news_bar span { padding: 12px 0; text-transform: uppercase; color: #FFF; letter-spacing: 2px; font-size: 12px; display: inline-block;}
		.news_bar a { width: 166px; height: 34px; margin-left: 5px; text-align: left; display: inline-block; background: url(images/details.jpg) no-repeat; text-transform: uppercase; letter-spacing: 3px; font-size: 12px; text-decoration: none; vertical-align: top; background-position-y: -5px; padding: 11px 17px; }
		.news_bar a.feedback { width: 235px; position:relative; z-index:1; background-position:right; }
		    .news_bar a.feedback::before {content: '';background: #fff; display: inline-block; position: absolute; left: 0; right: 150px; z-index:-1; top:5px; bottom:0; border-radius: 9px 0 0 9px;}

header { height: auto; padding: 20px 0; width: 100%; position: relative; z-index: 10 !important; border-top: 3px solid #231F20; }
header .wrap { position: relative; }
	#logo a { background: url(images/logo.png) no-repeat; width: 118px; height: 92px; display: block; float: left; text-indent: -9999px; }


nav.menu-main-menu-container { display: block; }	
	
nav.menu-main-menu-container {  z-index: 100000; right: 0px; position: absolute; top: 0; }
		nav.menu-main-menu-container ul { margin: 0 ; }
		nav.menu-main-menu-container ul li { float: left; margin: 0 15px; padding-top: 9px; }			
				nav.menu-main-menu-container ul li a { transition: color 0.3s ease; -webkit-transition: color 0.3s ease; font-size: 15px; text-transform: uppercase; color: #000; text-decoration: none; vertical-align: middle; padding-top: 30px; }
					nav.menu-main-menu-container ul li a:hover, nav.menu-main-menu-container ul li.current-menu-item a { color: #231F20; background: url(images/navover.png) no-repeat center 1px; }							
									
						nav.menu-main-menu-container ul li:last-child:after { margin: 0; content: ""; }
						
						
						nav.menu-main-menu-container ul li ul.sub-menu {  display: block; position: absolute; top: 48px; transition: max-height .5s ease; overflow: hidden; max-height: 0; background: url(images/nav.png) repeat; margin: 0 0 0 -20px; padding: 0 40px 0 20px;  }
							nav.menu-main-menu-container ul li:hover ul.sub-menu { max-height: 900px; transition: max-height .5s ease;  }
								nav.menu-main-menu-container ul li ul.sub-menu li { display: block; padding: 0 0 6px 0; margin-bottom: 10px; text-align: left; float: none; border-bottom: 1px solid #d21848; line-height: 10px; }
								nav.menu-main-menu-container ul li ul.sub-menu li:last-child {  border: none; margin-bottom: 20px; }
								nav.menu-main-menu-container ul li ul.sub-menu li:first-child { margin-top: 20px; }
									nav.menu-main-menu-container ul li ul.sub-menu li a { color: #FFF; display: block; border: none; font-size: 16px; text-transform: none; font-weight: 400;  }	
										nav.menu-main-menu-container ul li ul.sub-menu li a:hover { color: #d21848; }
										
										nav.menu-main-menu-container ul li ul.sub-menu li:after { content: "";}						
										nav.menu-main-menu-container .icon-star::before { margin-right: 8px; }
										
										.slicknav_menu, nav.menu-mobile-menu-container { display: none ; } 
										
	

/*-----------------------------------*/
/* Main Styles
/*-----------------------------------*/
#slider .wrap { position: relative; max-width: 932px; }
	#slider .unslider-nav {position: relative; bottom: 120px; }
	#slider .unslider-arrow { width: 32px; height: 42px; background: url(images/arrows.png) no-repeat; text-indent: -9999px; top: 400px;}
		#slider .unslider-arrow.next { background-position: -32px 0;}
	#slider .unslider-wrap.unslider-carousel > li { visibility: hidden; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; -moz-transition:all 0.6s ease-out; opacity: 0; }
		#slider .unslider-wrap.unslider-carousel > li.unslider-active { visibility: visible; opacity: 1;}
	#slider .unslider-nav ol li { background: url(images/bullets.png) no-repeat; width: 16px; height: 14px; border: none; margin: 0 3px 0 0; border-radius: 0; }
		#slider .unslider-nav ol li.unslider-active { background-position: 0 -14px; }
	#slider h5  { text-align: center; width: 100%; max-width: 600px; padding: 20px; border-top: 1px solid #F5F6F6; border-bottom: 1px solid #F5F6F6; margin: 0 auto; }

#columns aside.one_third { width: 25%; float: none; display: inline-block; margin: 2% 4%; vertical-align: top; text-align: center; }	
	#columns aside.one_third img { text-align: center; margin-bottom: 10px; }
	#columns aside.one_third a:hover img { opacity: 0.5; filter: alpha(opacity=50); transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; }
	#columns aside.one_third .text { text-align: left; }
		#columns aside.one_third .text a { text-transform: uppercase; text-decoration: none; }
/*-----------------------------------*/
/* Inner Styles
/*-----------------------------------*/

#banner { width: 100%; margin: -30px 0 0 ; }
	#banner .wrap { padding: 40px 10px; }
	#banner .one_half { width: 46%; margin: 0 2%; display: inline-block; float: none; }
		#banner .one_half.last { text-align: center; margin-right: 2%; }
		#banner .one_half li { list-style: none; display: inline-block; margin: -75px 4% 0; }
			#banner .one_half li img {max-width: 110px; height: auto; }
			#banner .one_half li a:hover img { opacity: 0.5; filter: alpha(opacity=50); transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out;  }

#container .wrap { padding: 0 0 30px 0; min-height: 600px;  }	
#container .wrap ul { margin: 0 0 0 20px; padding: 0 0 12px 0; }
#container .wrap ul li { line-height: 19px; padding: 8px 0px 0px 20px; margin: 0; background: url(images/bullet.jpg) no-repeat 0 11px; list-style: none; }

#container .wrap h5.toggle { background-position: 0px center; cursor: pointer; padding-left: 25px; font-size: 20px; line-height: 24px; padding: 9px 9px 9px 25px; border-bottom: 1px solid #000; }
#container .wrap .toggle-content .toggle{background-color:#ccc;margin-left:15px !important; margin-right:15px !important;}
#container .wrap .toggle-content .toggle-content{margin-left:15px !important; margin-right:15px !important;}

.page-id-16 #container .wrap .toggle-content ul li span.item,
.page-id-1270 #container .wrap .toggle-content ul li span.item { margin: 0; }

.page-id-16 #container .wrap .toggle-content ul li span.item,
.page-id-1270 #container .wrap .toggle-content ul li span.item { border-bottom: 1px solid #929497;list-style: none; font-size: 14px; padding: 5px 5px 5px 25px; background: none; }

.page-id-16 #container .wrap .toggle-content ul li span.item,
.page-id-1270 #container .wrap .toggle-content ul li span.item { width: 70%; display: inline-block; vertical-align: super; }



aside#left { max-width: 660px; width: 100%; background-color: rgba(255,255,255,0.8); border-top: 3px solid #000; padding: 25px; }
.page-id-13 aside#left { max-width: 100%; }
.gallery { margin-top: 20px; }	
#container .wrap .gallery ul { margin: 0; }
#container .wrap .gallery ul { padding: 0 ; }
#container .wrap .gallery ul li { list-style: none; display: inline-block; padding: 0; background: none; } 
#container .wrap .gallery .filter { padding: 5px 15px; font-size: 16px;}
#container .wrap .gallery .filter a { cursor:pointer;}
#container .wrap .gallery .filter.is-active a { cursor:pointer; color: #A6A8AB;}
#container .wrap .gallery .select2-container { margin-bottom:10px; color:#000;}	
.gallery .select2-container--default .select2-selection--single{ border:2px solid #000; border-radius:0;}
.gallery .select2-container--default .select2-selection--single .select2-selection__rendered{ color: #000; font-family:"franklin-gothic-urw",sans-serif;} 
.gallery .select2-container--default .select2-selection--single .select2-selection__arrow b{ border-color:#000 transparent transparent transparent;}
.page-id-13 .select2-dropdown{ border: 1px solid #000; border-radius:0; color:#000;}
/*-----------------------------------*/
/* Blog Styles 
/*-----------------------------------*/


/*-----------------------------------*/
/* Coupon Styles 
/*-----------------------------------*/

/*-----------------------------------*/
/* Forms Styles 
/*-----------------------------------*/

/*-----------------------------------*/
/* Footer Styles
/*-----------------------------------*/

#footer_top { background: #000; padding: 20px; }
#footer_top aside { margin: 0 1%; }
#footer_top nav { text-align: center; position: relative; top: 25px; }
#footer_top nav li { display: inline-block; line-height: 20px; }
	#footer_top nav li:after { content: "|"; margin: 0 5px; color: #A6A8AB; }
	#footer_top nav li:last-child:after { margin-right: 0; content: "";}
	#footer_top a { font-weight: 400; color: #A6A8AB; font-size: 14px; text-decoration: none; }
		#footer_top a:hover { text-decoration: underline; }
	
	#footer_top aside.last { position: relative; top: 25px; text-align: right; }

#footer_bot { padding: 15px 0; }
#footer_bot ul { text-align: center; }
	#footer_bot li { display: inline-block; list-style: none; line-height: 20px; }
	#footer_bot li:after { content: "/"; margin: 0 5px; }
	#footer_bot li:last-child:after { margin-right: 0; content: "";}
	#footer_bot a { font-weight: 400; color: #A6A8AB; font-size: 14px; text-decoration: none; }
		#footer_bot a i { font-size: 30px; vertical-align: sub;}
			#footer_bot a:hover i { color: #000; }
		#footer_bot a:hover { text-decoration: underline; }
/*-----------------------------------*/
/* Responsive 1024 Styles
/*-----------------------------------*/

@media screen and (max-width: 1024px)  {
	
#responsive { max-width: 1024px;  }


}

/*-----------------------------------*/
/* Responsive 980px Styles
/*-----------------------------------*/

@media screen and (max-width: 980px)  {
	
#responsive { max-width: 980px; overflow: hidden !important;  }	

#banner .one_half li { margin: -75px 2% 0;} 

	

}

/*-----------------------------------*/
/* Responsive 800px Styles
/*-----------------------------------*/

@media screen and (max-width: 800px)  {
	
#responsive { max-width: 800px;  }

.unslider-wrap li a img { width: 100%;}
#footer_top nav { top: 14px;}
#banner .one_half li { margin: -75px 1% 0;} 


}

/*-----------------------------------*/
/* Responsive 768px Styles
/*-----------------------------------*/

@media screen and (max-width: 768px)  {
	
#responsive { max-width: 768px;  }

#banner .one_half.last {display: none; } 

}

/*-----------------------------------*/
/* Responsive 640px Styles
/*-----------------------------------*/

@media screen and (max-width: 640px)  {

#responsive { max-width: 640px;  }

#mobile { display: none; }
.slicknav_menu, nav.menu-mobile-menu-container { display: block; }
.slicknav_nav a { font-size: 18px; }
nav.menu-main-menu-container { display: none; }

#res_nav .slicknav_nav { background: #F6F6F6; box-shadow: inset 3px 3px 5px #BFBFBF; }
#res_nav .slicknav_btn { background:  #000 ; top: -80px; right: 20px;  border-radius: 0px; position: absolute; margin: 0; font-weight: 500; z-index: 10000;  }
#res_nav .wrap { padding: 0; position: relative;   }
#res_nav .slicknav_menu .slicknav_menutxt { color: #fff; font-weight: 500; text-shadow: none; }	


#res_nav .slicknav_menu { background: #404040; padding: 0 ; }
		#res_nav .slicknav_nav ul { padding: 20px 0 0 0 ;  margin: 0 20px 20px 20px ; text-align: center;}
#res_nav .slicknav_nav a { color: #000; text-transform: uppercase; letter-spacing: 1px; padding: 10px 0; }
#res_nav .slicknav_nav a:hover { background: #000; border-radius: 0; color: #FFF; }

#columns aside.one_third { width: 100%; text-align: center; margin: 8px 0; }
	#columns aside.one_third .text { text-align: center; }

.unslider-arrow { display: none; }

}

/*-----------------------------------*/
/* Responsive 598px Styles
/*-----------------------------------*/

@media screen and (max-width: 598px)  {

#responsive { max-width: 598px;  }

.push_content aside.one_half { width: 100%; margin: 0; text-align: center; }
.push_content aside.one_half.first { display: none;}

#banner .wrap { padding: 20px 0; }
#container .wrap { background-position: center 70px !important; }
aside#left { padding: 15px;}

.page-id-16 #container .wrap,
.page-id-1270 #container .wrap { background: none !important;}

/*-----------------------------------*/
/* Responsive 568px Styles
/*-----------------------------------*/

@media screen and (max-width: 568px)  {

#responsive { max-width: 568px;  }




}

/*-----------------------------------*/
/* Responsive 480px Styles
/*-----------------------------------*/

@media screen and (max-width: 480px)  {

#responsive { max-width: 480px;  }

header { padding: 10px 0;}
#logo a { height: 50px; background-size: 50%;  }
#res_nav .slicknav_btn { top: -50px; right: 10px; }



#footer_top aside { width: 100% !important; margin: 5px 0 !important; display: block; text-align: center !important; top: auto !important; }	
#footer_top nav { top: auto; }

}

/*-----------------------------------*/
/* Responsive 416px Styles
/*-----------------------------------*/ 

@media screen and (max-width: 416px)  {
	
	.news_bar span { letter-spacing: 0;}
	.news_bar a { background: #FFF; width: auto; height: auto; padding: 5px;  letter-spacing: 0; margin-top: 7px; margin-left: 10px;}
	.news_bar a.feedback{width:auto;}
	.page-id-16 #container .wrap .toggle-content ul li span.item,
    .page-id-1270 #container .wrap .toggle-content ul li span.item { width: 55%; }
}
/*-----------------------------------*/
/* Responsive 320px Styles
/*-----------------------------------*/

@media screen and (max-width: 320px)  {

#responsive { max-width: 320px;  }


}

@media only screen and (min-width: 200px) and (max-width: 598px) {

  .gform_wrapper .gform_body .top_label li.gfield.gf_right_half, span.ginput_right, .gform_wrapper .ginput_complex .ginput_right { 
    float: left !important; 
    clear: left !important;
    width: 99% !important;
  } 

  .gform_wrapper .gform_body .top_label li.gfield.gf_left_half, span.ginput_left, .gform_wrapper .ginput_complex .ginput_left { 
    float: left !important; 
    clear: left !important;
    width: 99% !important;
  }

}

	