/*-----------------------------------*/
/* Shortcodes Styles
/*-----------------------------------*/

/* Columns */
.one_half, .one_third, .two_third, .three_fourth, .one_fourth { margin-right: 4%; float: left; line-height: 21px; margin-bottom: 20px; }
.one_half { width: 46%; }
.one_third { width: 30.6666%; }
.two_third { width: 65.3332%; }
.one_fourth { width: 22%; }
.three_fourth { width: 74%; }
.last { margin-right: 0 !important; clear: right; }
.clearboth{ clear: both; display: block; font-size: 0px; height: 0px; line-height: 0; width: 100%; overflow:hidden; }

/* Dropcap */
.dropcap { font-size:32px; margin-right:6px; padding-top:4px; text-transform: uppercase; float: left; position: relative; top: 5px; color:#888; }

/** Highlight **/
.highlight1 { background:#f6f67a; }
.highlight2 { background:#000; color:#CCC; }

/* Video */
.video-shortcode { margin-bottom:20px; }

/* Message Boxes */

/* start notification boxes */
.box-information, .box-confirmation, .box-warning, .box-error {	float: left; padding: 16px 20px 16px 70px; margin-top: 18px; min-height: 36px; height: auto !important; height: 36px; line-height: 19px; clear: both; }
.box-information p, .box-confirmation p, .box-warning p, .box-error p {	padding: 6px 0 6px 0; }
.box-information a, .box-confirmation a, .box-warning a, .box-error a {	text-decoration: underline; }

/* Tabs */
	
ul.tabs { background:url(images/widget-title-bg.png) repeat-x; float: left; height: 41px; width: 100%; padding: 0; margin: 0; }
ul.tabs li { background: none !important; float: left; border: 1px solid #d6d6d6; margin: 8px 0px 0px 8px !important; padding: 0; overflow: hidden; position: relative; bottom: -3px; background:#ebebeb url(images/tab-bg.png) repeat-x; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius: 5px 5px 0 0; }
ul.tabs li a { height: 28px; line-height: 30px; text-decoration:none; font-size:18px; color: #777; display: block; padding: 0 10px; outline: none; text-shadow: 1px 1px 1px #FFF; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius: 5px 5px 0 0; }
ul.tabs li a:hover { background: #FFF !important; }
html ul.tabs li.active, html ul.tabs li.active a:hover  { background: #fff !important; border-bottom: 1px solid #fff; }
.tabs_container { border-top: none; overflow: hidden; clear: both; float: left; width: auto; background: #fff; clear: both; }
.tab_content { padding: 25px 0 0 0; }
.post-entry .tabs_container { width: 100%; }

.tab-content{padding:16px 16px 0 16px; overflow:hidden; }
.tabs-wrapper { overflow: hidden; width: 100%; }
.tabs-wrapper .tab-content { border:1px solid #d7d7d7; border-width:0 1px 1px 1px; }

/* Toggles */
h5.toggle { margin: 0px !important; font-size: 18px; text-align: left; padding: 10px; padding-left: 30px; background-image: url(images/toggle-plus.png); background-position: 10px center; background-repeat: no-repeat; }
h5.toggle a { color: #333; text-decoration: none; display: block; }
h5.toggle a:hover { color: #A25232; text-decoration: underline; }
h5.active { background-image: url(images/toggle-minus.png); background-position: 10px center; background-repeat: no-repeat; }
.toggle_container { overflow: hidden; padding: 20px 10px; }
.toggle-content { display: none; margin-bottom:16px; }
.toggle-content .block { line-height: 22px; padding: 0 0 18px 0; }

/* Checklist */
.checklist li { background:url(images/check-list.png) no-repeat left !important; padding-left:28px !important; list-style: none; }

/* Badlist */
.badlist li { background:url(images/bad-list.png) no-repeat left !important; padding-left:28px !important; list-style: none; }

/* Buttons */
.button { padding:11px 10px 9px 10px; display:inline-block; margin:0 10px 20px 0; -moz-border-radius: 5px; -webkit-border-radius:5px; border-radius: 5px; font-family:"BebasNeueRegular"; font-size:18px; cursor:pointer; }
.button a { color:#FFF; text-shadow: 1px 1px 1px #000; }
.button a:hover { text-decoration:none; }
.button.black { background:url(images/black-button.png) repeat-x; border:1px solid #000; }
.button.black:hover { background:url(images/black-button.png) repeat-x; background-position:0 -42px; }
.button.red { background:url(images/red-button.png) repeat-x; border:1px solid #690000; }
.button.red:hover { background:url(images/red-button.png) repeat-x; background-position:0 -42px; }
.button.green { background:url(images/green-button.png) repeat-x; border:1px solid #0e5800; }
.button.green:hover { background:url(images/green-button.png) repeat-x; background-position:0 -42px; }
.button.blue { background:url(images/blue-button.png) repeat-x; border:1px solid #003162; }
.button.blue:hover { background:url(images/blue-button.png) repeat-x; background-position:0 -42px; }
.button.orange { background:url(images/orange-button.png) repeat-x; border:1px solid #824700; }
.button.orange:hover { background:url(images/orange-button.png) repeat-x; background-position:0 -42px; }
.button.light { background:url(images/light-button.png) repeat-x; border:1px solid #afafaf; }
.button.light a { color:#5d5d5d; text-shadow: 1px 1px 1px #FFF; }
.button.light:hover { background:url(images/light-button.png) repeat-x; background-position:0 -42px; }